.vs
.vsconfig
bin
obj

cstest_unity/Library
cstest_unity/Logs
cstest_unity/Temp
cstest_unity/UserSettings
cstest_unity/*.sln
cstest_unity/*.slnx
cstest_unity/*.csproj
cstest_unity/Packages/nuget-packages/InstalledPackages
